dataset/o_a_collect_nums_1000.pkl
*.png
*.ipynb
*py[ocd]
**/__pycache__/**
*.py[cod]
/build/*
*.*.pyc
.gitignore
collect_dataset/*
test_model/test.py
# collect_data/collect_test.py
motion_imitation/utilities/__pycache__/motion_util.cpython-37.pyc
*.pyc
*.pyc
/motion_imitation/utilities/__pycache__
/motion_imitation/utilities/__pycache__
motion_imitation/robots/__pycache__/robot_config.cpython-37.pyc
motion_imitation/robots/__pycache__/robot_config.cpython-37.pyc
.idea/vcs.xml
.idea/motion-imitation.iml
.idea/modules.xml
motion_imitation/utilities/__pycache__/motion_util.cpython-37.pyc
*.pyc
*.pyc
/motion_imitation/utilities/__pycache__
/motion_imitation/utilities/__pycache__
motion_imitation/robots/__pycache__/robot_config.cpython-37.pyc
motion_imitation/robots/__pycache__/robot_config.cpython-37.pyc
.idea/vcs.xml
.idea/motion-imitation.iml
.idea/modules.xml
motion_imitation/utilities/__pycache__/motion_util.cpython-37.pyc
*.pyc
*.pyc
/motion_imitation/utilities/__pycache__
/motion_imitation/utilities/__pycache__
motion_imitation/robots/__pycache__/robot_config.cpython-37.pyc
motion_imitation/robots/__pycache__/robot_config.cpython-37.pyc
.idea/vcs.xml
.idea/motion-imitation.iml
.idea/modules.xml
motion_imitation/utilities/__pycache__/motion_util.cpython-37.pyc
*.pyc
*.pyc
/motion_imitation/utilities/__pycache__
/motion_imitation/utilities/__pycache__
motion_imitation/robots/__pycache__/robot_config.cpython-37.pyc
motion_imitation/robots/__pycache__/robot_config.cpython-37.pyc
.idea/vcs.xml
.idea/motion-imitation.iml
.idea/modules.xml
motion_imitation/learning/__pycache__/ppo_imitation.cpython-37.pyc
trot/dataset/trot_data_V_07_04_100000_100.pkl
motion_imitation/learning/__pycache__/ppo_imitation.cpython-37.pyc
dataset/augmentation_pace_data_100000_100.pkl
dataset/augmentation_trot_data_100000_100.pkl
